<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/user"><i class="fa fa-user" aria-hidden="true"></i>Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/guru"><i class="fa fa-user" aria-hidden="true"></i>Gurus</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pay2guru"><i class="fa fa-inr" aria-hidden="true"></i>Pay Guru</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-handholding"></i> Income</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Referal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-users"></i> Team</a>
  </li>
</ul>
<!-- fa icons not set  -->