.ease{
    animation: .5s ease-in-out both fade-in;
    
}
.rotate
{
animation: 0.5s ease-in-out both rotate;
}

@for $i from 1 through 4 {
    .ease {
      &:nth-child(#{$i}) {
            // Delay the animation. Delay increases as items loop.
        animation-delay: $i * (.5s);
      }
    }
    .rotate{
        &:nth-child(#{$i}){
            animation-delay: $i *(.9s);

        }
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes rotate
  {
      0%{
          opacity:0;
          transform: rotate(45deg);
      }
      100%{
          opacity:1;
          transform: rotate(360deg);
      }
  }
  